html, body {
  margin: 0px;
  height: 100%;
  padding: 0;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
}

#sidebar {
	grid-area: sidebar;
	overflow-y: scroll;
	background-color: #41B3A3;
	object-fit: cover;
	height: 100vh;
	margin-bottom: 20px;
	background: url(./assets/BannerOfAutumn.gif) center;
        
}



#content {
	grid-area: content;
}

.header {
	grid-area: header;
	font-family: Helvetica, sans-serif

}

#myTitle {
background: url(./assets/BannerOfDawn1.gif)  center repeat;
overflow: hidden;

}

#clearImageButton {
	 margin-left: 900px;
}


#colorBorder {
	width: 100vw;
	height:40px;
	object-fit: cover;
	top: 81%;
	left: 70px;
	position: absolute;
	overflow: hidden;

}

#rightBorder {
	position: absolute;
	width: 55px;
	height: 92vh;
	bottom: 180px;
	left: 97.5vw;
	overflow: hidden;
}



.footer{
  grid-area: footer;
}

.sideBarItem{
	max-height: 45px;
	max-width: 45px;
	padding:5px;
	margin-top: 40px;
	
}

.stroke-weight {
height: 30px;
max-width: 83%;
border: solid 5px #E27D60;
  transition: border-width 0.6s linear;
}



.sideBarItem img{
	max-height: 50px;
	max-Width:50px;
	
}

.colourPalette{
	grid-area: colourP;
	display:flex;
	flex-direction:grid;
	flex-flow: wrap;
}

.options{
	grid-area: options;
	padding: 15px;
}

.colourSwatches{
	box-sizing: border-box;
	width: 20px;
	height: 20px;
	max-height: 40px;
	max-width: 40px;
	margin: 5px;
}


	.wrapper {
		display: grid;
		height: 100%;
		grid-template-columns: 70px 230px  minmax(500px, 1fr);
		grid-template-rows: 35px minmax(500px, 1fr) 160px;
		grid-template-areas:
               "header header header"
				"sidebar content content"
                "colourP colourP options";
		background-color: #fff;
		color: #444;
	}
.box {
  background-color: rgb(66, 66, 66);
  color: #fff;
  font-size: 150%;
}

.header {
  background-color: rgb(196,210,177);
}

#myImg {
	position: absolute;
	width: 45%;
	height: 80%;
	top: 35px;
	left: 70px;

}

#controls {
	position: absolute;
	width: auto;
	height: auto;
	left: 850px;
	top: 6.5px;
	font-size: 15px;
}

#customizableInputIconThickness
{
	position: absolute;
	display: block;
	width: 50px;
	height: 50px;
	top: 854px;
	left: 65px;
}

#customizableInputIconTextRand
{
	position: absolute;
	display: block;
	width: 50px;
	height: 50px;
	top: 940px;
	left: 65px;

}

#instructionButton
{
	position: absolute;
	z-index: 90;
	margin-top: 5%;
	margin-left: 4%;
}


.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  overflow: auto;
}

@supports (-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)) {
  .popup {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.3);
  }
}
.popup__content {
  position: absolute;
  top: 10%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 75%;
  background-color: #fff;
  -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  display: table;
  overflow: hidden;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%) scale(0.25);
  transform: translate(-50%, -50%) scale(0.25);
  -webkit-transition: all 0.5s 0.2s;
  transition: all 0.5s 0.2s;
}

.popup__left {
  width: 33.333333%;
  display: table-cell;
}

.popup__right {
  width: 66.6666667%;
  display: table-cell;
  vertical-align: middle;
  padding: 3rem 5rem;
}

.popup__img {
	transform: translateY(152%);
	margin-top: 50%;
  display: block;
	width: 308%;
}


#secondaryToolbarImagePlacement
{
		transform: translateY(126%);
}

#palletteToolboxImagePlacement
{
	transform: translateY(34%);
}


.popup__text {
  font-size: 1.3rem;
  margin-bottom: 4rem;
  margin-top: 5%;
  margin-left: 40%;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  }

  #popupHeader
  {
	  margin-top: 30%;
	  margin-left: 50%;
	  margin-bottom: 5%;
  }

  #secondaryToolbarHeader
  {
	  	position: absolute;
		margin-top: 29%;
		  margin-left: 20%;

  }



#popupSubheader
{
	
	margin-left: 40%;
	margin-bottom: 0%;
}


#palletteToolbaxHeader
{
	position: absolute;
	padding-top: 50%;
	margin-left: 20%;

}

#popupReturnBtn
{
	position: absolute;
	padding-top: 165%;
}

  

.popup:target {
  opacity: 5;
  visibility: visible;
}

.popup:target .popup__content {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
}

.popup__close:link, .popup__close:visited {
  color: #777;
  position: absolute;
  top: 2.5rem;
  right: 2.5rem;
  font-size: 3rem;
  text-decoration: none;
  display: inline-block;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  line-height: 1;
}

.popup__close:hover {
  color: #fbff00;
}

#sphereModelTitle
{
	position: absolute;
	left: 64%;
	margin-top: 6.5%;
	font-size: 13px;
}

#gridFrameTitle
{
	position: absolute;
	left: 69.5%;
	margin-top: 6.5%;
	font-size: 13px;
}

#boxModelTitle
{
	position: absolute;
	left: 73.7%;
	margin-top: 6.5%;
	font-size: 13px;

}

#mail-cardFrameTitle
{
	position: absolute;
	left: 78.5%;
	margin-top: 6.5%;
	font-size: 13px;
}

#entropyFrameTitle
{
	position: absolute;
	left: 84%;
	margin-top: 6.5%;
	font-size: 13px;

}

#bgColorPickerTitle
{
	position: absolute;
	left: 89%;
	margin-top: 6.5%;
	font-size: 13px;
}

#ColorPickerTitle
{
	position: absolute;
	left: 95%;
	margin-top: 6.5%;
	font-size: 13px;
}